# Database
MONGODB_URI=mongodb+srv://shubhamkumar7102_db_user:rxNZrSFkTDFSDH9W@cluster0.yoxd9sp.mongodb.net/rag_db?retryWrites=true&w=majority
MONGODB_DB=rag_db

# AWS S3 Configuration
AWS_ACCESS_KEY_ID=AKIDSFSEWFENCWFRW
AWS_SECRET_ACCESS_KEY=Lkmas3J3feWSDFSDFBszhwhAb4H7r
AWS_REGION=ap-south-1
S3_BUCKET_NAME=agent-bucket

# Google Gemini Configuration
GOOGLE_API_KEY=FFdesed-WLOGAI_644343k
